.allPlayers {
    display: flex;
}

.gameField {
    margin-left: 5%;
    width: 65%;
    height: 500px;
    background-image: url('https://studio.boardgamearena.com:8084/data/themereleases/current/games/testtrs/999999-9999/img/11.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;

    color: white;
    text-align: center;
}

.fieldIT {
    margin-left: 5%;
    /* margin-top: 50px; */

    width: 40%;
    height: 400px;
    
    background-image: url('https://studio.boardgamearena.com:8084/data/themereleases/current/games/testtrs/999999-9999/img/projField.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    color: white;
    text-align: center;
}

.cards-container {
    margin-left: 5%;
    width: 13%;
    color: white;
    text-align: center;
}


.card {
    height: 45%;
    background-image: url('https://studio.boardgamearena.com:8084/data/themereleases/current/games/hbagame/999999-9999/img/3.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;

}

.ml-5 {
    margin-left: 30px;
}

.mt-5 {
    margin-top: 15px;
}

.menu {
    height: 350px;
    width: 18%;
    margin-left: 0%;
    /* color: white; */
    /* background-image: url('https://studio.boardgamearena.com:8084/data/themereleases/current/games/testtrs/999999-9999/img/grayscale.png'); */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    /* background-color: black; */
}

.menu-info {
    /* margin-left: 30px; */
    /* background-color: rgb(40, 39, 39); */
    /* margin-right: 30px; */
    height: 90%;
}

.menu-info h2 {
    /* color: white; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    text-align: center;
}

.menu-info img {
    width: 100%;
    height: 200px;
    margin-bottom: -50px;
    /* background-color: red; */
    margin-top: -30px;
}

.menu-info p {
    /* color: yellow; */
    color: white;
    padding-left: 20px;
}

.paiay {
    background-image: url('https://studio.boardgamearena.com:8084/data/themereleases/current/games/testtrs/999999-9999/img/dice.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: auto;
    margin-top: 20px;
    margin-left: 15%;
    width: 70%;
    min-height: 100px;
}

.bonusName {
    color: white;
    padding-top: 25%;
    text-align: center;
    font-size: 20px;
}

.player-container {
    margin-top: 100px;
    height: 400px;
    display: flex;
}

.pamyatka {
    background-image: url('https://studio.boardgamearena.com:8084/data/themereleases/current/games/testtrs/999999-9999/img/pamyatka.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 5%;
    width: 15%;
    height: 50%;
    text-align: center;
    color: white;
}

.pamyatka2 {
    background-image: url('https://studio.boardgamearena.com:8084/data/themereleases/current/games/testtrs/999999-9999/img/pamyatka2.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 5%;
    width: 20%;
    height: auto;
    text-align: center;
    color: white;
}

.secondSection {
    display: flex;
    margin-top: 50px;
}

.player-planshet {
    text-align: center;
    color: white;
    margin-left: 5%;
    width: 30%;
    background-image: url('https://studio.boardgamearena.com:8084/data/themereleases/current/games/testtrs/999999-9999/img/PT-Y.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    background-color: red;
}

.office {
    margin-left: 5%;
    width: 45%;
    height: 330px;
}

.sale-office, .back-office, .tech-office {
    display: flex;
    height: 37%;
    margin-bottom: 20px;
}

.office-mans {
    display: flex;
}

.office-man {
    background-image: url('https://studio.boardgamearena.com:8084/data/themereleases/current/games/testtrs/999999-9999/img/maya.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100px;
    margin-right: 15px;
}