.allPlayers {
    display: flex;
}

.gameField {
    margin-left: 5%;
    width: 25%;
    height: 350px;
    background-image: url('https://studio.boardgamearena.com:8084/data/themereleases/current/games/hbagame/999999-9999/img/5.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;

    color: white;
    text-align: center;
}

.fieldIT {
    margin-left: 5%;
    width: 20%;
    height: 250px;
    background-image: url('https://studio.boardgamearena.com:8084/data/themereleases/current/games/hbagame/999999-9999/img/2.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;

    color: white;
    text-align: center;
}

.cards {
    display: flex;
    margin-left: 5%;
    width: 22%;
    color: white;
    text-align: center;
}

.card {
    width: 45%;
    height: 200px;
    background-image: url('https://studio.boardgamearena.com:8084/data/themereleases/current/games/hbagame/999999-9999/img/3.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.ml-5 {
    margin-left: 30px;
}

.menu {
    width: 18%;
    margin-left: 5%;
    background-color: black;
    color: white;
}

.menu-info {
    margin-left: 30px;
    background-color: rgb(40, 39, 39);
    margin-right: 30px;
    height: 90%;
}

.menu-info h2 {
    color: green;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    padding: 10px 20px;
}

.menu-info p {
    color: yellow;
    padding-left: 20px;
}